# npm
node_modules
package-lock.json
npm-shrinkwrap.json
*.log
*.gz


# Coveralls
.nyc_output
coverage

#React
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/www/node_modules
/www/.pnp
/www/.pnp.js

# testing
/www/coverage

# production
/www/build

# misc
.DS_Store
**/.DS_Store
/www/.env.local
/www/.env.development.local
/www/.env.test.local
/www/.env.production.local

/www/npm-debug.log*
/www/yarn-debug.log*
/www/yarn-error.log*

