.App {
  width: 100%;
  height: 100vh;
  color: #36086d;
  font-family: Tahoma;
}

.divider {
  background-color: rgb(193, 182, 204);
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  padding: 2px 0;
}

.Box {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 25px auto 25px auto;
  padding: 1em;
  background-color: #dedede;
  border: 0px;
  border-radius: 5px;
}

.ResponseBox {
  margin: 25px auto 25px auto;
  padding: 2px;
  background-color: #fafafa;
  border: 0px;
  border-radius: 5px;
}

.Placeholder {
  color: rgb(172, 162, 182);
}

.ServerResponse {
  height: 30px;
  text-align: center;
}

h1,
h4,
p {
  margin: 15px auto;
  text-align: center;
}

form {
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input,
textarea {
  background-color: #ffffff;
  border: 1px solid #36086d;
  color: #36086d;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
  color: #ffffff;
}
